{[exprgarden.core comment] (14 6), [exprgarden.core fubar] (4 2 1), [exprgarden.core process-catfact] ("{\"fact\":\"Tests done by the Behavioral Department of the Musuem of Natural History conclude that while a dog's memory lasts about 5 minutes, a cat's recall can last as long as 16 hours.\",\"length\":175}"), [exprgarden.core bar] ("{\n}"), [exprgarden.db read-file] (".test.edn")}