{[exprgarden.core comment] (14 6), [exprgarden.core fubar] (4 2 1), [exprgarden.core process-catfact] ("{\"fact\":\"It has been scientifically proven that owning cats is good for our health and can decrease the occurrence of high blood pressure and other illnesses.\",\"length\":149}"), [exprgarden.core bar] ("{\n}")}
