{:paths ["src"]
 :deps {expgarden/exprgarden {:local/root "../"}}
 :aliases {:repl {:main-opts
                  ["-m" "nrepl.cmdline" "-p" "1667"
                   "--middleware" "[exprgarden.core/current-time]"]}}}
