{:paths ["src"]
 :deps {expgarden/exprgarden {:local/root "../"}}
 :aliases {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
           :repl {:main-opts
                  ["-m" "nrepl.cmdline" "-p" "1667"
                   "--middleware" "[cider.nrepl/cider-middleware exprgarden.core/current-time]"]}}}
