{:transport #object[nrepl.transport.FnTransport 0x4bcf8286 "nrepl.transport.FnTransport@4bcf8286"], :ns "exprgarden.core", :file "/Users/tommy/programming/examplegarden/src/main/exprgarden/core.clj", :nrepl.middleware.print/quota 1048576, :nrepl.middleware.print/print "cider.nrepl.pprint/pr", :op "eval", :column 3, :line 98, :id "906", :code "#record (fubar 4 2 1)", :nrepl.middleware.print/stream? [], :session "a821fddd-7cc5-447e-a7c6-b5b3f0583d00"}