{:transport #object[nrepl.transport.FnTransport 0x15b12a10 "nrepl.transport.FnTransport@15b12a10"], :ns "exprgarden.core", :file "/Users/tommy/programming/examplegarden/src/main/exprgarden/core.clj", :nrepl.middleware.print/quota 1048576, :nrepl.middleware.print/print "cider.nrepl.pprint/pr", :op "eval", :column 1, :line 129, :id "155", :code "#record (bar \"{\\n}\")", :nrepl.middleware.print/stream? [], :session "3612d0a9-3317-4ea4-92b3-7b995726b697"}